html {
    width: 100vw;
    height: auto;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #252525;
    overflow-x: hidden;
}

nav{
    background-color: #212121;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 70px;
    height: 100%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i {
    color: white;
}

ul{
    padding: 20px;
    list-style: none;
}

li > a{
    color: white;
    list-style: none;
    text-decoration: none;
}

.hide-or-show-text {
    display: none;
}

nav:hover{
    width: 10%;
}

nav:hover .hide-or-show-text {
    transition: 3s;
    animation: fadeInAnimation 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 10px;
}

.nav-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 80px;
    height: 10px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#other-link-nav{
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}

#my-presentation{
    margin-top: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 700px;
    user-select: none;
}

.name-animation{
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: bold;
}

#first-page {
    color: white;
    font-size: 20px;
    margin: 0 0 0 156px;
}

#first-page > p {
    color: white;
    font-size: 20px;
    margin: 0 0 0 24px;
    user-select: none;
}

#particles-js {
    margin-left: 10%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 99%;
}

#particles-js:hover{
    margin-left: 1%;
}

/*Page de Skills*/

#skills-container{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

#left-skills-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.title-skills {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: -5px;
}

.text-skills{
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

#skill-button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    height: 40px;
    border-radius: 12px;
    background-color: #212121;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
}

#skill-button:active {
    transform: scale(0.9);
}

#right-skills-container {
    width: 50%;
    padding-top: 5%;
}

.progress-skills-container{
    display: flex;
    flex-direction: column;
}

#progress-bar-html {
    margin: 20px;
    width: 90%;
    height: 50px;
    position: relative;
}

#progress-bar-css {
    margin: 20px;
    width: 90%;
    height: 50px;
    position: relative;
}

#progress-bar-php {
    margin: 20px;
    width: 90%;
    height: 50px;
    position: relative;
}

#progress-bar-java {
    margin: 20px;
    width: 90%;
    height: 50px;
    position: relative;
}

#progress-bar-lua {
    margin: 20px;
    width: 90%;
    height: 50px;
    position: relative;
}

.progress-skills-container > i {
    padding-left: 20px;
}

.progress-skills-container > img {
    padding-left: 20px;
}

/*Css de la page portfolio*/

#work-container {
    margin: 0 64px 0 128px;
}

#work-container > h1 {
    color: white;
    text-align: center;
}

#work-container > h3 {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-container > .work-box{
    width: 450px;
    background-color: #494949;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-container > .work-box:hover{
    transform: scale(1.08);
    transition: 0.5s;
}

.box-container > .work-box > img{
    width: 100%;
    border-radius: 5px;
}

.box-container > .work-box > .work-box-text{
    color: white;
}

/*Css de la page de veille*/

#veille-container {
    margin: 0 64px 0 128px;
}

#veille-container> h2 {
    color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.veille-tool {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.veille-tool-box {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.veille-tool-box > img {
    width: 150px;
    align-self: center;
}

.veille-tool-box > p {
    color: white;
}

.veille-tool-box > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    margin-left: 16px;
}

.veille-tool-box > ul > li::before {
    content: "- ";
}

/*Css de la page de certification*/

#certif-container {
    margin: 0 64px 0 128px;
}

.certif-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.certif-box {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    background-color: #494949;
    padding: 8px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.certif-box:last-child {
    margin-bottom: 32px;
}

.certif-box > img {
    width: 200px;
}

.certif-box > h2 {
    color: white;
}

.certif-box > i {
    font-size: 3rem;
}

.certif-box:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.certif-detail {
    color: white;
}

.certif-detail > h2 {
}

.certif-detail > .certif-detail-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.certif-detail-text > a {
    margin-block-start: 1em;
    margin-block-end: 1em;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}


/*Css de la page de contact*/

#contact-form-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact-form-container > iframe{
    width: 40%;
    height: 646px;
}

.contact-form{
    background-color: #494949;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.contact-form-input{
    margin-bottom: 25px;
    width: 100%;
}

.contact-form-input > input{
    width: 90%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form-input > textarea{
    width: 90%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

.contact-form-input > button{
    width: 30%;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    background-color: #494949;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

h1 {
    margin: 0;
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100 % {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100 % {
        opacity: 0;
    }
}

.popup-container {
    position: fixed;
    visibility: hidden;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    max-width: 800px;
    background: #494949;
    padding: 24px;
    animation: ease-in 1.5s fadeIn running;
    border-radius : 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.popup > img {
    width: 100%;
}

#arrow-placement {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 93%;
}

#arrow-placement > i {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    background: rgba(37, 37, 37, 0.67);
    border-radius: 50%;
    padding: 8px 8px;
}

.popup > h3 {
    align-self: flex-start;
    color: white;
    margin: 12px 0 0 0;
    font-size: 15px;
    font-weight: 200;
}

.popup > h2 {
    align-self: flex-start;
    color: white;
    margin: 12px 0 0 0;
    font-size: 15px;
    font-weight: 600;
}

.popup > p {
    align-self: flex-start;
    color: white;
    margin: 12px 0 0 0;
    font-size: 15px;
    font-weight: 200;
}

.popup > button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 5px;
    font-size: 1.5em;
}

/*Css de la timeLine*/
.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 20px;
    background: #494949;
    -webkit-box-shadow: 5px 5px 10px #494949, -5px -5px 10px #494949;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    color: white;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-content > .date {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.timeline-content > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
        position: relative;
        background-color: #494949;
        width: 5px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #494949;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}